{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
  <div class="container my-5">
    <h1>{{ category.name }}</h1>

    
    <p>Cette catégorie contient {{category.products|length}} produit(s)</p>
      <div class="row">
        {% for product in category.products %}
          <div class="col-md-4 text-center">
            <a href="{{path('app_product_show', {slug: product.slug})}}" class="text-decoration-none">
              <img src="/uploads/products/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }}">
              <span class="d-block fw-bold text-black">{{ product.name}} </span>
            </a>
              <span class="d-block"> {{ product.priceWT|price }}</span>
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}
